html {
  background: url("http://users.wpi.edu/~bmoriarty/ps/images/rgbrect.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img{
   display: block;
}

}
p{
    color: steelblue;
  display:inline-block;

}

h1{
  color: steelblue;
  text-align: center;
}

h4{
  color: steelblue;
}

a{
  color: steelblue;
}

nav{
  text-align: center;
}

.navi{
  text-align: center;
}

#red{

  color: red;
    display:inline-block;
}

#blue{
  color: blue;
    display:inline-block;
}

#green{
  color: green;
    display:inline-block;
}
